Repository TeamSaltshaker/DamDam, pull requests merged in 2025-08, with the labels that each got.

#689 MyPageReactor 테스트 코드 작성
  Clipster/Clipster/App/DIContainer/DIContainer.swift
  Clipster/Clipster/Presentation/Scene/MyPage/Reactor/MyPageReactor.swift
  Clipster/ClipsterTests/Presentation/Mock/Entity/MockUser.swift
  Clipster/ClipsterTests/Presentation/Mock/Error/MockError.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/Auth/MockCheckLoginStatusUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/Auth/MockLoginUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/Auth/MockLogoutUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/Auth/MockWithdrawUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/Setting/MockFetchSavePathLayoutOptionUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/Setting/MockFetchThemeOptionUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/Setting/MockSaveClipSortOptionUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/Setting/MockSaveFolderSortOptionUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/Setting/MockSaveSavePathLayoutOptionUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/Setting/MockSaveThemeOptionUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/User/MockFetchCurrentUserUseCase.swift
  Clipster/ClipsterTests/Presentation/Mock/UseCase/User/MockUpdateNicknameUseCase.swift
  Clipster/ClipsterTests/Presentation/Reactor/MyPageReactorTests.swift
Labels: test

#678 ShareReactor 테스트
  Clipster/ClipsterTests/Presentation/Mock/UseCase/ShareExtension/MockExtractExtensionContextUseCase.swift
  Clipster/ClipsterTests/Presentation/Reactor/ShareReactorTests.swift
  Clipster/ShareExtension/Reactor/ShareReactor.swift
  Clipster/ShareExtension/ViewController/ShareViewController.swift
Labels: chore, test

#692 v1.2.2 릴리즈
  Clipster/Clipster.xcodeproj/project.pbxproj
Labels: chore

#702 v1.2.3 릴리즈
  Clipster/Clipster.xcodeproj/project.pbxproj
Labels: chore
